<% provide(:title, 'About') %>

<div class= "row sticky large-1 medium-1 columns about-wrap">
  <div id="about-nav">
    <nav>
      <ul>
        <!-- <li><a href="#projects">Projects</a></li> -->
        <li><a href="#resume">Resume</a></li>
        <li><a href="#education">Education</a></li>
      </ul>
    </nav>
  </div>
</div>
<div class="row">
  <div class="large-6 small-centered columns">
    <p>
      I have been developing since Early 2013 and am always interested in learning more.
    </p>

    <p>
      This blog is meant to help others, as well as myself as a place to find answers to some questions that come up regularly or that took me more than a quick Google to solve if their weren't a whole lot of quick answers out there.
    </p>
<!--     <div class="row fuck" id="firstStop">
      <a name="projects"></a>
      <h1>Projects</h1> -->
      <!-- </div> -->
      <div class="row fuck" id="resume">
       <a name="resume"></a>
       <h3>About Me</h3>
       <div class="resume">
        <p>GARRETT A. BOONE</p>
        <p>Austin, Texas 78746</p>
        <p>GarrettAustinBoone@gmail.com</p>

        <h3>SUMMARY</h3>
        <p>Web Application Development</p>
        <p>Expertise in developing an intuitive connection with clients, tuning in to their specific abilities and needs, and providing clear, concise feedback and assistance.</p><p>Demonstrated ability to function effectively as a team player, as well as work independently to achieve organizational objectives.</p>
        <p>Outstanding communication and interpersonal skills.</p>

        <h3>Technical Knowledge</h3>
        <ul>
          <li>Ruby</li>
          <li>Rails and Sinatra</li>
          <li>The MEAN Stack</li>
          <li>Git (Version Control)</li>
          <li>Javascript, jQuery</li>
          <li>HTML, HTML5 and CSS</li>
          <li>TDD with RSpec</li>
          <li>MySQL, MongoDb</li>
          <li>Some Photoshop</li>
        </ul>

        <h3>Previous Work Experience</h3>
        <ul>
          <li>Developer - Lin Digital 2013-2014</li>
          <ul>
            <li>Built gem to connect to Liverail API similar to the DFP Api gem</li>
            <li>Developed application to collect and report on statistics from 30+ publishers/advertisers for accounting and pacing of advertisements</li>
            <li>Worked with team to organize and implement a data warehouse solution using Pentaho</li>
            <li>Created a live preview page for Google DFP ads for testing purposes</li>
            <li>Added tagging ability to insertion orders</li>
          </ul>
          <li>MWD Field Engineer - LEAM Drilling Systems Inc.</li>
        </ul>

        <h3>Education</h3>
        <a name="education"</a>
        <ul>
          <li><b>Dev Bootcamp</b>,  a 9-week learning intensive course based around Ruby and web development</li>
          <li><b>Texas Tech University</b>, Bachelor of Business Administration, Concentration in Marketing (Graduated 12/2009)
          </li>
        </ul>
      </div>
    </div>
  <!-- <div class="row fuck" id="interests">
    <div id="top?"></div>
    <a name="interests"></a>
    <h1>Interests</h1>
  </div> -->
<!-- </div> -->

<!-- <ol class="joyride-list" data-joyride>
  <li data-id="firstStop" data-text="Next" data-options="tip_location: top">
    <p>Click Next to check out my Resume and Interests below or x to stop this getting pulled around.</p>
  </li>
  <li data-id="resume" data-class="custom so-awesome" data-text="Next" data-options="tip_location:top">
    <h4>Stop #1</h4>
    <p>You can control all the details for you tour stop. Any valid HTML will work inside of Joyride.</p>
  </li>
  <li data-id="interests" data-button="Next" data-options="tip_location:top;tip_animation:fade">
    <h4>Stop #2</h4>
    <p>Get the details right by styling Joyride with a custom stylesheet!</p>
  </li>
  <li data-id="top?" data-button="Back to Top?" data-options="tip_location:bottom;"</li>
    <li data-id="firstStop" data-button="" data-options="tip_location:bottom;"</li>
    </ol> -->
