<div class="large-11 medium-11 columns" id="hero">
  <div class="intro show-for-medium-up" >
  </div>
  <div class="intro-small show-for-small-only" >
  </div>
</div>
  <div class="posts-home">
   <%= render "posts/posts" %>
  </div>
<!-- </div> -->
<!-- HTML -->



