<div class="large-11 medium-11 columns" id="hero">
  <div class="intro show-for-medium-up" >
<div class="intro-code" style="background: none"><pre style="line-height: 125%">  <span style="color: white; font-weight: bold">class</span> <span style="color: #0000FF; font-weight: bold">Developer</span>
    <span style="color: white; font-weight: bold">def</span> <span style="color: #0000FF; font-weight: bold">self</span><span style="color: #666666">.</span><span style="color: #0000FF">garrett_boone</span>
      attributes <span style="color: #666666">=</span> {
        <span style="color: #19177C">developer</span>:  <span style="color: #BA2121">"Web Application Developer"</span>
        <span style="color: #19177C">location</span>:   <span style="color: #BA2121">"Austin, TX"</span>,
        <span style="color: #19177C">ablilities</span>: <span style="color: #666666">[</span> <span style="color: #BA2121">"CSS"</span>, <span style="color: #BA2121">"HTML"</span>, <span style="color: #BA2121">"Js"</span>, <span style="color: #BA2121">"Ruby"</span>,
                      <span style="color: #BA2121">"Rails"</span>, <span style="color: #BA2121">"MySQL"</span>, <span style="color: #BA2121">"Mongodb"</span>,
                      <span style="color: #BA2121">"Pentaho"</span>, <span style="color: #BA2121">"Version Control"</span>,
                      <span style="color: #BA2121">"Commitment"</span>,<span style="color: #BA2121">"Communication"</span>,
                      <span style="color: #BA2121">"Teamwork"</span><span style="color: #666666">]</span>
      }
    <span style="color: white; font-weight: bold">end</span>
  <span style="color: white; font-weight: bold">end</span>
</pre></div>
  </div>
  <div class="intro-small show-for-small-only" >
  </div>
</div>
  <div class="posts-home">
   <%= render "posts/posts" %>
  </div>
<!-- </div> -->
<!-- HTML -->



