<% provide(:title, "#{@post.category.name} Tips") %>
<div class="row">
  <div class="small-10 small-centered columns show-post">
    <h1 class= "post-title"><%= @post.title %></h1>
    <p class="description" ><%= @post.description %></p>
    <div class="article-body">
      <% if @post.articles != [] %>
      <% @post.articles.each do |article| %>
        <div class="art-body-text">
          <%=render text: article.body.html_safe %>
        </div>
        <% end %>
        <% else %>
        <%= image_tag("{@post.title}") %>
        <% end %>
    </div>
  </div>
</div>
