/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.ui.all
 *= require_tree .
 *= require_self
 */

//= depend_on_asset "DiscoNight.ttf"

@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);

@font-face {
    font-family: 'DiscoNight';
    src: asset-url('DiscoNight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media all and (max-width:600px) {
    body {font-size: 70%}
}

 @mixin fade-to-black{
  background: #feffff !important; /* Old browsers */
  background: -moz-linear-gradient(top, #feffff 0%, #feffff 0%, #44757E 94%) !important; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(0%,#feffff), color-stop(94%,#44757E)) !important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #feffff 0%,#feffff 0%,#44757E 94%) !important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #feffff 0%,#feffff 0%,#44757E 94%) !important; /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #feffff 0%,#feffff 0%,#44757E 94%) !important; /* IE10+ */
  background: linear-gradient(to bottom, #feffff 0%,#feffff 0%,#44757E 94%) !important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#44757E',GradientType=0 ) !important; /* IE6-9 */
}

body{
  overflow-y: scroll;
  background: url(blue.jpeg) no-repeat center center fixed;
  background-size:cover;
}

body.home{
  color:black;
  font-family: 'Roboto', sans-serif;
}

body.about_bg{
  background-color:black;
  // background-image:url("black.jpg");
  color:white;
  font-family: 'Roboto', sans-serif;
}

.inner-wrap{
  margin:0px;
  padding:0px;
}

.intro{
  font-size: 2em;
}

.inner-content{
  margin:15px;
  padding:10px;

}

.home main{
  margin:15px 0px 0px 0px;
}

.about_bg {
  margin:15px 0px 0px 0px;
  background:black !important;
}

.top-bar, top-bar-section ul li{
  @include fade-to-black;

  a:hover{
    color:black !important;
  }
}

.top-bar-section ul li{
  a{
    font-family: 'Rokkitt', serif;
    font-size: 18px;
    @include fade-to-black;
  }
}

.row{
  max-width: 80rem;
}

.sidebar{
  transition: ease 0.3s;
  padding:0px;
  position:fixed;
  left:0;
  margin:-15px 0px 0px 0px;
  z-index: 999;
  // background-color:#2A211C;
}
.side-nav{
  background-color:black;
  overflow:hidden;
  border-right: 1px solid #222;
  padding:0px;
  min-height: 350px;
    :hover{
    background-color: #332D2E;
  }
}
.side-nav ul{margin:0;padding:0;width:200px;margin:10px;list-style:none;}
.side-nav li{
  margin:0;
  border-bottom: 1px solid #222;
  // border-right: 1px solid #222;
  padding:10px;
  white-space: nowrap;
  font-family: 'Rokkitt', serif;
  a{
    color:white !important;
  }
  a span{ margin:0 15px 0 0;}
  a:hover{
    color:#007cba !important;
  }
}

.about-wrap{
  position:fixed;
  top:45px;
  left:150px;
}

.about-nav{
  @extend .sidebar;
}

#hero{
  padding:0px;
}

#hero .intro{
  min-height:480px;
  margin-left:20%;
}

#hero .intro-small{
  min-height:200px;
  margin-left:15px;
  background:100%;
}


.user_input{
  color:red;
}

.user_input{
    &:before {content:'\003C';}
    &:after  {content:'\003E';}
}



