// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.all-posts{
  margin-left:5%;
  padding:0px;
}

.post-title{
  color:#007cba !important;
}

.post-description li div{
  height: 350px;
  word-wrap: break-word;
}

@mixin post-desc-content{
  background-color: white;
  border-radius:5px;
}

.post-desc-content{
  @include post-desc-content;
  padding:15px;
  height: 290px;
}

.small-post-list{
  list-style: none;
}
.small-post-desc-content{
  @include post-desc-content;
  color:black;
}

.post-desc-content:hover{
  background-color:lightgrey;
}

.art-title{
  text-align: center;
  font-weight: bold;
}

.art-body-text.big{
  border-bottom:solid thin black;
  color:black;
  h3{
    color:black;
    font-weight: bold;
  }
}

.art-body-text.small{
  border-bottom:solid thin black;
  color:black;
  width:100%;
  h3{
    color:black;
    font-weight: bold;
  }
}

.show-post{
  p{ color:black;}
  border-top:lightblue thick solid;
  background-color:white;
  border-radius:10px;

}

.post-title-desc{
  padding:10px;
  border-bottom: dashed black thin;
  .post-title-text{
    margin-bottom:-10px;
    padding-bottom:0px;
  }
  .description{
    margin:0px;
    font-size:10px;
  }
}

.article-body{
  padding:10px;
}

.terminal{
 background-color:gray;
 p{
  padding:10px;
  text-align: left;
  font-family:"Lucida Console", Monaco, monospace;
 }
}

.code{
  background-color:lightyellow;
  border-radius:15px;
  border:thin solid black;
  margin:10px;
  padding:10px;
  word-wrap: break-word;
  p{
    text-align: left;
    font-family:"Lucida Console", Monaco, monospace;
  }
}


