<div class="large-1 medium-1 columns sidebar">
  <nav>
    <ul class="side-nav">
      <% Category.all.order(:name).each do |cat| %>
        <li><%= link_to cat.name, category_path(cat) %></li>
      <% end %>
    </ul>
  </nav>
</div>


