<div class="large-1 medium-1 columns sidebar">
  <nav>
    <ul class="side-nav">
      <% at = 1 %>
      <% Category.all.order(:name).each do |cat| %>
        <li><a href=<%= category_path(cat) %>><span><%= at %></span><%= cat.name %></a></li>
        <% at += 1 %>
      <% end %>
    </ul>
  </nav>
</div>


